@import '../../styles/variables.scss';
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    border-radius: $radius-s;
    margin: 1rem;
    gap: 4px;
    width: 100%;
    background-color: transparent;
  
    &__logo {
      p{
        font-size: 1.5rem;
        font-weight: 800;
        margin: 1rem;
      }
    }

    
  }
  .navbar__cart-count {
    margin: 1rem;
    font-size: 1.2rem;
    color: $black;
  }
  
  