@import '../../styles/variables.scss';
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    border-radius: $radius-s;
    width: 100%;
    background-color: transparent;
  
    &__logo {
      p{
        font-size: 1.5rem;
        font-weight: 800;
        margin: 1rem;
      }
    }
  
    &__cart {
      margin: 1rem 1rem;
      font-size: 1.5rem;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      background-color: transparent;
      cursor: pointer;
      &:hover {
          transform: rotate(-2deg) translate(-5px, -5px);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
      }
    }
  }
  