@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: $blue;
  background-color: $white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $radius-s;
  min-height: 100vh;
  max-width: 80%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 5px auto;
  text-align: center;
  flex-wrap: wrap; 

}
