@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: $blue;
  background-color: $white;
}

main {
  display: grid;
  align-items: start;     
  gap: $radius-s;
  min-height: 100vh;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;         
  text-align: center;     

  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
}
