//Colors
$yellow: #DC840A;
$white: #FFFFFF;
$blue: #1A364C;
$price-blue: #1A364C;
$green: #009760;
$black: #222222;
$star-yellow: #F7B559;

//Borders
$radius-s: 6px;
$radius-m: 16px;

//Price-tag
$price-font-color: $price-blue;
$price-bg-color: $white;
$price-border-radius: $radius-m;
$price-font-size: 12px;

//Add to cart
$button-font-color: $white;
$button-font-size: 10px;
$button-border-radius: $radius-s;

//Ratings
$rating-font-color: $black;
$rating-font-size: 10px;
$rating-star-fill: $star-yellow;
$rating-star-border: $star-yellow;

//Product-card
$product-card-max-height: 300px;
$product-card-max-width: 200px;
$product-card-bg: $white;
