@import '../../styles/variables.scss'; 

.add-button {
    max-width: 184px;
    max-height: 40px;
    width: 100%;                
    color: $white;              
    border: none;               
    border-radius: $radius-s;   
    padding: 10px;
    cursor: pointer;            
    transition: background-color, color 0.3s; 
    margin-top: 0.825rem;

    .btn-text{
        font-size: 10px;
        line-height: 150%;
        font-weight: bold;          
    }

    &:hover {
        opacity: 0.9;
        color: $black;         
    }
}
