@import '../../styles/variables.scss';


.ratings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px;
  gap: $radius-s;

  p{
    font-size: $rating-font-size;
  }

  .stars {
    display: flex;
    gap: 2px;
  }

  svg {
    width: 12px;
    height: 12px;
  }
}
