@import '../../styles/variables.scss';


.ratings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;

  p{
    font-size: $rating-font-size;
    padding: 0.5rem;
    font-weight: 500;
  }

  .stars {
    display: flex; // Use flex to align stars in a row
    gap: 0.2rem; // Space between stars
  }

  svg {
    width: 10px; // Set width of the star icon
    height: auto; // Maintain aspect ratio
  }
}
